header{
    background-color:#BBBBBB ;
    padding: 20px 0px ;/*top, botton, left, rigth*/
}

.caixa{
    position: relative;/*deixa o div relativo com o header*/
    margin: 0 auto;/*Alinha o elemento no centro*/
    width: 940px;/*largura padrão da web*/

}

nav{
    position: absolute;/**/
    top: 110px;
    right: 0px;
    
}

nav li{
    display:inline;
    margin-left: 15px; 
}

nav a {
    text-transform:uppercase;
    color: #000000;
    font-weight: bold;
    
    font-size: 22px;
    text-decoration:none;
}

nav a:hover{
    color: #C78C19;
    text-decoration-line: underline;

}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
  /*border: #000000;
    border:2px;
    border:solid;*/
    border: 2px solid #000000;
    border-radius: 10px;
}
.produtos li:hover{
    border: 2px solid #C78C19;
}
.produtos li:active{
    border: 2px solid #088C19;
}


.produtos .titulo_painel{
    font-weight: bold;
    font-size: 30px;
}
.produtos li:hover .titulo_painel{
    font-size: 34px;
}

.produtos .produto-descricao{
    font-size: 18px;
    text-align: center;
}
.produtos .produto_preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.rodape{
    text-align: center;
    background-image: url(./img/bg.jpg);
    padding: 4px 0px;
}

.rodape .copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top:20px;
}


